.bodyDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: rgb(0, 0, 0);
    padding: 30px;
    overflow-x: hidden;
}

.bodyDivCarrossel{
    width: 70%;
    height: 200px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    margin: 0px 0px 30px 0px;
}

.carrosseis{
    display: flex;
    flex-direction: row;
    width: 300%;
    height: 100%;
    overflow-x: scroll;
    transition: translate var(--transitionTime);
}

.carrInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 70%;
    height: 200px;
    border-radius: 15px;
    background: rgb(255, 255, 255);
    margin: 0px 0px 30px 0px;
}

@media screen and (max-width: 1000px){
    .carrossel{
        width: 100%;
    }
    .info{
        width: 100%;
    }
}